
<div class="container">
    <h1>Caso de teste</h1>
    <div>
        <form name="testCase.form" ng-cloak>
            <p>Fazer login como</p>
            <md-radio-group ng-model="testCase.user" class="md-primary">
                <md-radio-button ng-value="1" >Admin<br/></md-radio-button>
                <md-radio-button ng-value="2" >User 1<br/></md-radio-button>
                <md-radio-button ng-value="3" >User 2<br/></md-radio-button>
            </md-radio-group>
            <p>Na semana</p>
            <md-radio-group ng-model="testCase.week" class="md-primary">
                <md-radio-button ng-value="1" >Semana 1<br/></md-radio-button>
                <md-radio-button ng-value="2" >Semana 2<br/></md-radio-button>
            </md-radio-group>
            <md-button class="md-raised md-primary"  ng-click='testCase.submit()' ng-href="{{testCase.nextPage()}}" >Iniciar</md-button>
        </form>
    </div>

</div>